.contact {
    &__content {
        padding: 15px 0;

        &__title {
            margin-bottom: 28px;
            font-size: 2rem;
            color: $main-color;
            font-weight: 500;
            @include mobile {
                text-align: center;
            }
        }
        &__map {
            background: transparent url('https://media2.giphy.com/media/6036p0cTnjUrNFpAlr/giphy.gif?cid=ecf05e476whkm4ricv8fb8dc8a4s8bpqyk1l1gcq06q57c68&rid=giphy.gif&ct=g') no-repeat center center;
            background-size: 100px 100px;
            iframe {
                width: 100%;
                height: 350px;
            }
        }
    }
    &__form {
        @include flex(flex-start, center);
        padding: 20px;
        @include mobile {
            flex-direction: column;
        }
        &__title {
            font-size: 1.5rem;
            font-weight: 600;
            color: $main-color;
            border-bottom: 2px solid $main-color;
            margin-bottom: 15px;
            padding: 10px 0;
            text-transform: uppercase;
            user-select: text;
            @include mobile {
                // width: 100%;
                text-align: center;
            }
        }
        &__main {
            flex-grow: 1;
            @include mobile {
                width: 100%;
                margin-bottom: 20px;
            }
            &__content {
                width: 90%;
                @include mobile {
                    width: 100%;
                }
                form {
                    width: 50%;
                    @include mobile {
                        width: 100%;
                    }
                    .contact__form__input {
                        display: block;
                        width: 100%;
                        border: 1px solid $txt-second-color;
                        padding: 12px 20px;
                        margin: 12px 0;
                        border-radius: 4px;
                        box-sizing: border-box;

                        &:focus {
                            outline-color: $main-color;
                        }

                        &[placeholder*="Mess"] {
                            resize: none;
                        }
                    }

                    button {
                        width: 100%;
                        height: 40px;
                    }

                }
            }
        }
        &__sub {
            width: 40%;
            font-size: 1.25rem;
            @include mobile {
                width: 100%;
            }
            &__icon {
                @include flex(center, flex-start);
                margin-bottom: 16px;
                i {
                    font-size: 1.75rem;
                    margin-right: 8px;
                }
            }
        }
    }
}